$color-body: hsl(230, 35, 7);
$color-blue: hsl(231, 77, 90);
$color-white: hsl(0, 0, 100);

$text-color-subheading: #d0d6f9;

$ff-heading: "Bellefair", serif;
$ff-subheading: "Barlow Condensed", sans-serif;
$ff-paragraph: "Barlow", sans-serif;
